<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LDGControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <LDGControl.Properties.Settings>
            <setting name="amp_port" serializeAs="String">
                <value>"COM1"</value>
            </setting>
            <setting name="tuner_port" serializeAs="String">
                <value>"COM5"</value>
            </setting>
            <setting name="amp_host" serializeAs="String">
                <value>kronos</value>
            </setting>
            <setting name="amp_tcp_port" serializeAs="String">
                <value>51000</value>
            </setting>
            <setting name="tuner_host" serializeAs="String">
                <value>kronos</value>
            </setting>
            <setting name="tuner_tcp_port" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="amp_tab" serializeAs="String">
                <value>remote</value>
            </setting>
            <setting name="tuner_tab" serializeAs="String">
                <value>remote</value>
            </setting>
            <setting name="flex_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="psu_dvolts" serializeAs="String">
                <value>138</value>
            </setting>
        </LDGControl.Properties.Settings>
    </userSettings>
</configuration>
